:root {
    --black: #180900;
    --bege: #f9d9ac;
    --marrom1: #361705;
    --white: #fff7ef;
    --marrom: #8c3c0e;
    --laranja: #ffae4a;
    --border: 2px solid var(--marrom);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.3s linear;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--black);
}

section {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--marrom1);
    border-bottom: var(--border);
}

.header section {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    width: 130px;
}

.icons img {
    width: 20px;
    margin: 0 10px;
    padding: 2px;
    cursor: pointer;
}

.icons img:hover {
    width: 23px;
}

.navbar a {
    margin:  0 10px;
    font-size: 14px;
    color: var(--white);
}

.navbar a:hover {
    font-size: 15px;
    color: var(--bege);
}

.btn {
    background-color: var(--marrom);
    color: var(--white);
    padding: 10px 30px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
}

.btn:hover {
    letter-spacing: 0.5px;
}

.home-container {
    background-image: linear-gradient(to top, var(--black) 0%, transparent 70%), 
    url("img/fundo-cafe.jpeg");
    background-size: cover;
    height: 100vh;
}

.home-container section {
    display: flex;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 0;
}

.conteudo {
    max-width: 600px;
}

.conteudo h3 {
    color: var(--white);
    font-size: 60px;
}
.conteudo h3 span {
    color: var(--bege);
}

.conteudo p {
    color: var(--white);
    font-family: "Merriweather", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.8;
    padding: 10px 0;
}

.titulo {
    font-size: 40px;
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
}

.titulo span {
    color: var(--bege);
}

.sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.container-image img {
    height: 400px;
    width: 600px;
    object-fit: cover;
    border-radius: 7px 0 0 7px;
}

.sobre .row .conteudo {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    background-color: var(--marrom1);
    max-width: 600px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 0 7px 7px 0;
}

.sobre .row .conteudo h3{
    font-size: 25px;
    color: var(--bege);
    margin-bottom: 10px;
}

.sobre .row .conteudo p {
    font-size: 13px;
    color: var(--white);
    padding: 10px 0;
    text-align: justify;
    line-height: 1.8;
}

.box-container img {
    width: 100px;
    border-radius: 50%;
}

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 0 0;
}

.menu .box-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-container .box {
    text-align: center;
    border-radius: 7px;
    padding: 20px;
    background-color: var(--marrom1);
}

.box-container .box p {
    color: var(--white);
    height: 150px;
    font-size: 15px;
    text-align: justify;
    padding: 5px 10px;
    border: var(--border);
    border-radius: 7px;
    margin-bottom: 20px;
}

.menu .box-container .box:hover {
    background-color: var(--bege);
    margin: 0 10px;
    cursor: pointer;
}

.box-container .box h3 {
    color: var(--white);
    font-size: 20px;
    padding: 10px 0;
}

.box-container .box .price { 
    color: var(--white);
    font-size: 17px;
    padding: 5px 0;
}

.box-container .box .price span { 
    color: var(--bege);
    font-size: 13px;
    text-decoration: line-through;
}

.menu .box-container .box:hover h3, 
.menu .box-container .box:hover div {
    color: var(--marrom1);
}

.menu .box-container .box:hover div span {
    color: var(--marrom);
}

.menu .box-container .box .btn {
    font-size: 13px;
    padding: 10px 20px;
}

.menu .box-container .box .btn:hover {
    letter-spacing: normal;
    background-color: var(--marrom1);
}

.avaliacao .box-container .box div {
    margin: 10px;
}

.avaliacao {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 0 0;
}

.box-container .box .aspas img {
    width: 50px;
    border-radius: 0;
}

.box-container .box .perfil img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: var(--border);
}

.box-container .box .estrela img {
    width: 30px;
}

.avaliacao .box-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.endereco {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco iframe {
    border: var(--border);
    width: 1200px;
    border-radius: 7px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.rodape .share img {
    height: 30px;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
}


.rodape .share img:hover {
    background-color: var(--marrom);
    padding: 10px;
}
